## Importing Libraries

In [6]:
import pandas as pd
import numpy as np

import seaborn as sms
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline

from sklearn.cluster import KMeans

# vectorizer = TfidfVectorizer(stop_words={'english'})
# X = vectorizer.fit_transform(text)

## File Input

In [7]:
#File Input - Preprocessed and Stemming Normalised Sentence data from SentenceTextPreprocessingAndNormalisation
df_sc_s = pd.read_csv('df_sc_s.csv',  index_col = [0])
df_sc_s.head()

,Sentences,length,word_count,length_change,wordcount_change
0,dubai build code 2021 edit content part part b...,893,163,183,0
1,content of dbc base on follow input 1) exist r...,304,48,76,0
2,dbc arrang under theme to integr all relev ele...,209,37,42,0
3,2 dubai build code part gener a.2 definit note...,160,29,19,0
4,a.2.1 term addit increas to building’ gross ar...,89,15,6,0

In [8]:
#File Input - Preprocessed Sentence data from SentenceTextPreprocessingAndNormalisation
df_sc_p = pd.read_csv('df_sc_p.csv',  index_col = [0])
df_sc_p.head()

,Sentences,length,word_count,length_change,wordcount_change
0,dubai building code 2021 edition contents part...,1076,163,64,18
1,content of dbc based on following inputs 1) ex...,380,48,22,5
2,dbc arranged under themes to integrate all rel...,251,37,37,10
3,2 dubai building code part general a.2 definit...,179,29,12,4
4,a.2.1 terms addition increase to buildings gro...,94,15,4,1

In [9]:
df_sc_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4672 entries, 0 to 5423
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sentences         4672 non-null   object
 1   length            4672 non-null   int64
 2   word_count        4672 non-null   int64
 3   length_change     4672 non-null   int64
 4   wordcount_change  4672 non-null   int64
dtypes: int64(4), object(1)
memory usage: 219.0+ KB

In [10]:
#File Input - Preprocessed Sentence data from SentenceTextPreprocessingAndNormalisation
df_index= pd.read_csv('Index_heading.csv',  index_col = [0])
df_index.head()

             Index                     Heading
Sr. No.
1          B.9.4.7             Ablution spaces
2          D.9.8.2       Acceleration and jerk
3          C.5.4.3     Access control barriers
4        B.4.2.5.3                Access doors
5          H.6.3.2  Access to drainage systems

## Sorting Experiments

In [11]:
list_doors = []

for sentence in df_sc_p['Sentences']:
    if "access doors" in sentence:
        list_doors.append(sentence)

In [12]:
print(list_doors)

['dubai building code part b architecture 01 100 100 02 , 0 0 2 1  5 6 8  b 0 0 1  (a) guardrail with stepping feature within 865 mm from ffl (b) guardrail without stepping feature within 865 mm from ffl figure b.18 guardrail specifications key 01 gaps more than 100 mm not acceptable 02 stepping feature within 865 mm of base of guardrail not acceptable b 30 dubai building code part b architecture 01 100 02 0 0 2 , 1  5 6 8  b 0 0 1  b.4.2.5.3 access doors balconies and terraces shall not have self-closing, self-latching or self-locking doors, which can accidentally lock people outside in balcony or terrace', 'elevators b 52 figure b.42 examples of compliant stair treads, flights and arrangements dubai building code part b architecture b.6.5 building openings doors b.6.5.1 door clear width shall be not less than minimum values given in table b.7 and figure b.43. door location entry doors, general bathrooms and toilets (excluding toilet stalls) exit doors, exit access doors minimum door clear width (mm) 915 815 915 or greater depending upon occupant load served, as specified in section 3, ch. 3 of uae flsc ref. b.1 table b.7 minimum door clear width 01 915 key 01 door clear width 02 door 02 clear distance between two doors openings shall be not less than 1.2 m, as shown in figure b.44', 'at least one exit door with door swing in direction of egress shall be provided. if door in 2 h fire rated fire rated wall, then door shall be 90 min fire rated. equipment access doors maybe sufficient to meet this requirement', 'n equipment access doors may include louvers, but they shall be protected by automatic fire rated shutters or fire rated curtains on landlord side of louvers. fire curtains/shutters will close in fire and block equipment doors therefore alternative exit shall be provided and equipment doors shall not be marked as exit. l j k n p p j k figure g.50 details of substation louvers l g 94 dubai building code part g incoming utilities b) door plan key 01 3.05 m, or 2.44 if located where it opens onto sikka/road, or as per plan 02 slot central mullion b 40 mm  20 mm bracing aluminium box c heavy duty hinges heavy duty aluminium drop with locking hook e heavy duty brass tower bolt (750 mm) f heavy duty brass tower bolt (300 mm) g handles h rawl bolt c) details of additional locking arrangement figure g.51 details of substation doors a) elevation g 95 dubai building code part g incoming utilities 4 x 1,000 kva figure g.52 forced ventilation of transformer room in basement g 96 dubai building code part g incoming utilities 5.00 0.77 0.90 0.77 1.28 03 04 5.00 03 0.20 0.40 04 05 0.85 01 02 0 2 4', 'all internal roof or paved areas that open to sky (that have catchment area of 16 m2 or less) shall be provided with floor drains to enable rainwater pipework to connect to nearest gully or waste discharge stack. all other areas that open to sky shall be provided with rainwater drain that provides free discharge to external area. for all air ventilation shafts, access doors shall be provided at lower level of well to facilitate cleaning and maintenance of rainwater drainage system. routing of rainwater pipework through sensitive areas of building should be avoided. sensitive areas might include, but not limited to 1) areas of architectural significance 2) pipework routes through areas of different ownership or tenancy and 3) areas where access to drainage pipework might be restricted. where routing pipework through these areas cannot be avoided, pipework installation shall be configured to mitigate risk of pipework leaks. this shall be achieved by using pipework materials that have limited pipework joints, or pipe in pipe installation techniques', 'all internal roof or paved areas that open to sky (that have catchment area of 16 m2 or less) shall be provided with floor drains to enable rainwater pipework to connect to nearest gully or waste discharge stack. all other open to sky areas shall be provided with rainwater drain that provides free discharge to external area. for all air ventilation shafts, access doors shall be provided at lower level of well to facilitate cleaning and maintenance of rainwater drainage system']

In [13]:
print(len(list_doors))

6

In [14]:
s = ['my name is yash', 'i live in a small town', 'i live in a small house']
d = ['My name','is yash', 'I live', 'in a small', 'house']

In [15]:
new_list = [''] * len(d)

In [16]:
for idx, topic in enumerate(d):
    for sentence in s:
        if topic.lower() in sentence:
            new_list[idx] = '\n'.join([new_list[idx], sentence])

In [17]:
print(new_list)

['\nmy name is yash', '\nmy name is yash', '\ni live in a small town\ni live in a small house', '\ni live in a small town\ni live in a small house', '\ni live in a small house']

### Converting All the headings to lower case

In [18]:
# Dataframe which holds lower case of headings from df_index['Heading']

df_heads= pd.DataFrame()

In [19]:
df_heads['headings'] = df_index['Heading'].str.lower()

In [20]:
df_heads

                                                 headings
Sr. No.
1                                         ablution spaces
2                                   acceleration and jerk
3                                 access control barriers
4                                            access doors
5                              access to drainage systems
...                                                   ...
603                             wiring diagram datasheets
604      wiring installation exposed to high temperatures
605               wiring installations in hazardous areas
606                wiring systems and distribution boards
607                       women’s prayer halls in mosques

[607 rows x 1 columns]

## Clustering Sentences

In [21]:
df_heads.head()

                           headings
Sr. No.
1                   ablution spaces
2             acceleration and jerk
3           access control barriers
4                      access doors
5        access to drainage systems

In [22]:
df_sc_p.head()

,Sentences,length,word_count,length_change,wordcount_change
0,dubai building code 2021 edition contents part...,1076,163,64,18
1,content of dbc based on following inputs 1) ex...,380,48,22,5
2,dbc arranged under themes to integrate all rel...,251,37,37,10
3,2 dubai building code part general a.2 definit...,179,29,12,4
4,a.2.1 terms addition increase to buildings gro...,94,15,4,1

In [23]:
df_hns = pd.DataFrame()

In [24]:
df_hns['headings'] = df_heads['headings']

In [25]:
df_hns['Description'] = ''

In [26]:
df_hns.head()

                           headings Description
Sr. No.
1                   ablution spaces
2             acceleration and jerk
3           access control barriers
4                      access doors
5        access to drainage systems

In [27]:
df_hns.describe()

               headings Description
count               607         607
unique              607           1
top     ablution spaces
freq                  1         607

In [28]:
df_hns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607 entries, 1 to 607
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   headings     607 non-null    object
 1   Description  607 non-null    object
dtypes: object(2)
memory usage: 14.2+ KB

In [29]:
count = 0
for i in range(10):
    count +=1
    print(str(count) + ') ')

1)
2)
3)
4)
5)
6)
7)
8)
9)
10)

In [30]:
for idx in df_hns.index:
    count = 0
    for sentence in df_sc_p['Sentences']:
        if df_hns['headings'][idx] in sentence:
            count+=1
            p = '. ' + str(count) + ') '
            df_hns['Description'][idx] = p.join([df_hns['Description'][idx], sentence])

In [31]:
print(df_hns.head())

                           headings  \
Sr. No.
1                   ablution spaces
2             acceleration and jerk
3           access control barriers
4                      access doors
5        access to drainage systems

                                               Description
Sr. No.
1        . 1) swimming pools use water closets washbasi...
2        . 1) acceleration and jerk d.9.8.2 lower accel...
3        . 1) access control barriers c.5.4.3 where acc...
4        . 1) dubai building code part b architecture 0...
5        . 1) maximum distances between types of access...

In [32]:
print(df_hns['Description'][1])

. 1) swimming pools use water closets washbasins male female male female 1 per 100 worshippers 1 per 100 worshippers mosques, prayer rooms ablution spaces 1 per 50 worshippers table b.19 minimum number of sanitary fixtures for mosques and prayer rooms male female male female male 1 per 200 occupants 1 per 150 occupants 1 per 10 occupants 1 per 75 for first 1500 occupants 1 per 120 occupants for remainder exceeding 1,500 1 per 40 for first 1,600 occupants 1 per 60 occupants for remainder exceeding 1,600 female 1 per 10 occupants table b.20 minimum number of sanitary fixtures for swimming pools b 82 dubai building code part b architecture public toilets requirements b.8.1.4 b.8.1.4.1 minimum space dimensions for toilet stalls toilet stalls in public toilet shall have minimum dimensions shown in table b.21 and figure b.75. internal corridors in public toilet shall be not less than 1.05 in width. if accessible stalls provided inside public toilet block, they shall conform to c.8.3. door opening in stall width (mm) length (mm) inside outside 900 900 table b.21 minimum space dimensions 1,500 1,250 900 900 0 5 2 1  , 0 5 0 , 1  0 0 5 , 1  0 5 0 , 1  figure b.75 stall clearance dimensions b 83 b.8.1.4.2 privacy requirements for public toilets following requirements and recommendations apply to privacy for water closets and urinals. 2) building occupancy minimum prayer room capacity less than 300 occupants 8% 300 or more occupants 5% (for all occupants exceeding first 300 occupants) table b.26 prayer room capacity ratio of male to female prayer rooms shall be based on occupancy estimates. equal space shall be allowed for both genders (50% for each) unless otherwise justified by expected occupancy (for example, if building specifically planned for larger use of single gender, such as single-gender schools). prayer rooms should conform to mosque prayer hall requirements in b.9.4.4 in terms of orientation, provisions and layout. when prayer room layout cannot be aligned to qibla directions precisely, indication of qibla through carpet lines and ornamental mihrab acceptable, although not preferred. prayer rooms shall be provided with ablution spaces in accordance with b.9.4.7. number of ablutions spaces provided shall conform to b.8.1.3.2. prayer rooms should provide adequate space for shoe storage and lobby area for prayer room access. prayer rooms do not require separate toilet facilities if building provides adequate toilet facilities for number of occupants as set in b.8.1. 3) 600 04 02 03 01 05 06 06 1,500 figure b.88 prayer hall general arrangement example key 01 prayer hall 02 qibla direction 03 mihrab 04 area for each worshipper 05 clear entry 06 racks for shoes 07 door should be clear of prayer space 07 b 103 dubai building code part b architecture b.9.4.5 womens prayer halls in mosques all mosques (except for those located in industrial areas) shall provide womens prayer hall with required number of sanitary facilities and ablution spaces. area of womens prayer halls shall be sufficient to expected number of female worshippers and shall be sized to accommodate at least 20% of total planned number of worshippers. position of womens prayer halls shall be planned such that imam position in front of all of praying group. prayer hall shall not be adjacent to mens toilet blocks or located in remote area of mosque (see figure b.89). privacy of womens entrance and prayer hall shall be taken into account. provision shall be made for direct and private circulation between womens prayer hall and womens facilities in mosque (see figure b.89). b 104 01 03 02 01 02 04 03 figure b.89 prayer hall general arrangement example key 01 men main prayer hall 02 men secondary prayer hall 03 women prayer hall 04 prayer prohibited in this area when imam in secondary prayer hall dubai building code part b architecture womens prayer hall shall be located near to main road access and parking areas and shall not be allocated in mosque basement floor. 4) key 01 men main prayer hall 02 men secondary prayer hall 03 women prayer hall 04 minaret 05 iwan 06 ablution 07 toilet 03 07 06 01 02 05 figure b.92 jumaa mosque layout example b 107 dubai building code part b architecture ablution spaces b.9.4.7 ablution spaces shall be well planned to avoid restriction of movement during ablution. fixture clearances shall conform to b.8.1.5. 5) ablution spaces shall meet following requirements. 6) a) required number of ablution spaces (calculated in accordance with b.8.1.3.2) shall be provided with fixed seats or height adjustable rotatable stools. 7) b) accessible ablution spaces shall be provided in accordance with c.8.6. 8) 02 04 01 1.5 03 figure b.93 example of ablution area separation from toilets key 01 ablution 02 wash basins 03 entrance lobby 04 toilet b 108 dubai building code part b architecture ablution wash basins and standing ablution spaces with faucets optional. 9) 4) imam and moazen residences shall each be provided with dedicated outdoor open space or courtyard. mosque-specific sanitary requirements b.9.4.9 positioning of mosque toilets shall be planned carefully with cognisance of wind direction. toilets shall not be positioned in front of or adjacent to prayer hall. entrance of toilets shall be separated from ablution spaces to maintain purity of ablution spaces

In [33]:
# df_hns.to_csv('df_hns.csv')

In [43]:
#Creating a dataframe for separate sentences for headings

column_names = ["headings", "Description"]

df_hns_s = pd.DataFrame(columns = column_names)
i = 0

In [44]:
print(df_hns_s)

Empty DataFrame
Columns: [headings, Description]
Index: []

In [45]:
# df_hns_s.loc[0] = ['yash', 'Very good man.']

In [46]:

for sentence in df_sc_p['Sentences']:
    count=0
    for idx in df_hns.index: 
        if df_hns['headings'][idx] in sentence:
            df_hns_s.loc[i] = [df_hns['headings'][idx], sentence]
            i+=1
            count+=1
    if count==0:
        df_hns_s.loc[i] = ['NULL', sentence]
        i+=1

In [47]:
print(df_hns_s)

                      headings  \
0                        scope
1                         NULL
2                    standards
3                         NULL
4                built-up area
...                        ...
5951        emergency lighting
5952               fire safety
5953  fire detection and alarm
5954                      NULL
5955                      NULL

                                            Description
0     dubai building code 2021 edition contents part...
1     content of dbc based on following inputs 1) ex...
2     dbc arranged under themes to integrate all rel...
3     2 dubai building code part general a.2 definit...
4     a.2.1 terms addition increase to buildings gro...
...                                                 ...
5951  k.10.5 fire safety systems emergency lighting ...
5952  k.10.5 fire safety systems emergency lighting ...
5953  fire detection and alarm k.10.5.2 table 8.13, ...
5954  fire alarm control panel or monitoring panel s...
5955  k 171 dubai building code part k villas k.11 s...

[5956 rows x 2 columns]

In [48]:
df_hns_s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5956 entries, 0 to 5955
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   headings     5956 non-null   object
 1   Description  5956 non-null   object
dtypes: object(2)
memory usage: 139.6+ KB

In [49]:
df_hns_s.describe()

       headings                                        Description
count      5956                                               5956
unique      597                                               4660
top        NULL  bs 4662, boxes for flush mounting of electrica...
freq       2690                                                  9

In [50]:
df_hns_s['headings'].value_counts()['NULL']

2690

In [51]:
len(df_hns_s[df_hns_s.headings == 'NULL'])

2690

In [55]:
(df_hns_s[df_hns_s.headings == 'NULL']).describe()

       headings                                        Description
count      2690                                               2690
unique        1                                               2679
top        NULL  b) all works of shoring systems shall be carri...
freq       2690                                                  2

In [56]:
df_hns_s = df_hns_s.drop_duplicates(keep='first')

In [57]:
(df_hns_s[df_hns_s.headings == 'NULL']).describe()

       headings                                        Description
count      2679                                               2679
unique        1                                               2679
top        NULL  content of dbc based on following inputs 1) ex...
freq       2679                                                  1

In [58]:
df_hns_s.describe()

       headings                                        Description
count      5943                                               5943
unique      597                                               4660
top        NULL  industrial and storage factories, workshops an...
freq       2679                                                  9

In [59]:
# counting the duplicates
# dups = df_hns_s.pivot_table(index = ['Description'], aggfunc ='size')

In [61]:
# print(dups)

Description
 1 , 0 0 0 1,000 0 8 2  5 0 3  figure k.27 example of villa stair key 01 continuous 02 dual guardrail 03 equal to tread depth k 42 dubai building code part k villas k.5.5.2.5 handrails stairs shall have handrails on open side of stair as shown in figure k.28                                                                                                                                                                                                                                                                                            1
 1 , 5 0 0 key 01 double side desk 02 single side desk 0 0 0 1  , 0 0 5 , 1  0 0 5 , 1  figure c.113 circulation spaces between study tables/desks ( british standards institute. figure extracted from bs 83002018. permission to reproduce extracts from british standards granted by bsi standards limited (bsi). no other use of this material permitted)                                                                                                                                                                                                 2
 1,5 0 0 figure c.45 curved ramp key 01 landing 02 ramp run c 32 dubai building code part c accessibility c.5.9.1.6 ramp handrails ramp handrails shall conform to following requirements                                                                                                                                                                                                                                                                                                                                                                     1
 1,5 0 0 pool chair lifts shall be located over deck and at minimum of 400 mm from edge of pool                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
 firefighting elevator or one of passenger elevators could be used as service elevator. where passenger elevator used as service elevator, scheduled operation for service mode required                                                                                                                                                                                                                                                                                                                                                                      1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ..
working surfaces for preparation of food shall be manufactured from stainless steel or other approved impervious material to facilitate cleaning and maintenance of hygienic conditions                                                                                                                                                                                                                                                                                                                                                                       1
x figure b.67 bicycle stand minimum dimensions b 71 dubai building code part b architecture b.7.3 service and maintenance access to buildings loading and unloading areas b.7.3.1 b.7.3.1.1 general site layout shall allow for loading and unloading of vehicles to take place within plot boundaries. loading areas shall be located and designed such that vehicle intended to use them can manoeuvre safely and conveniently to and from row and can complete loading and unloading without obstructing or interfering with any row or any parking bay    1
x) mtr for minimum of two sps xi) rack space and sp cabling allowances in mtr for two sps dubai building code part g incoming utilities g.11.2 responsibility matrix developers shall comply with design and supply requirements of responsibility matrix in table g.34                                                                                                                                                                                                                                                                                       1
xlpe cable cross linked polyethylene as insulation of cable                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
zone for manifestation or visual detection elements illustrated in figure c.71. zone shall 1) be located between 750 mm and 1,500 mm above ffl there no possibility of user confusing it with access glazing                                                                                                                                                                                                                                                                                                                                                  1
Length: 4660, dtype: int64

In [63]:
df_hns_s.Description.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5951    False
5952     True
5953    False
5954    False
5955    False
Name: Description, Length: 5943, dtype: bool

In [74]:
df_hns_s = df_hns_s.reset_index(drop=True)

In [75]:
df_hns_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5943 entries, 0 to 5942
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   headings     5943 non-null   object
 1   Description  5943 non-null   object
dtypes: object(2)
memory usage: 93.0+ KB

In [76]:
# Dataframe of headings and sentences with separate sentences
df_hns_s.to_csv('df_hns_s.csv')